<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <h3><%= turtle.name %></h3>
    <p>Age: <%= turtle.age %></p>
    <p>Price: <%= turtle.price %></p>
    <p>Location: <%= turtle.location %></p>
    <button>add to cart</button>
</body>
</html>