<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<head>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body id="donate">

    <%- include("./partials/sidebar.ejs") %>
    <%- include("./partials/navbar.ejs") %>

    <header id="donate-header">
        <div class="donate-text">
            <h1>SUPPORT</h1>
            <h1 class="mid-text">SEA TURTLE</h1>
            <h1>CONSERVATION</h1>
            <p>Donate today and help our organization protect our beloved sea turtle friends.</p>
        </div>

        <div class="down-arrow">
            <a href="#donation">
                <i class="las la-arrow-down"></i>
            </a>
        </div>
    </header>

    <section id="donation-packages" class="section">
        <h2 class="title">Donation Packages</h2>
        <div class="container">
            <% packages.forEach( package => { %>
                <div class="item" data-item-id="<%= package.id %>">
                    <img src="<%= package.img %>" alt="">
                    <h3><%= package.header %></h3>
                    <ul>
                        <% package.freebies.forEach(freebie => { %>
                            <li><%= freebie %></li>
                        <% }); %>
                    </ul>
                </div>
            <% }); %>
        </div>
    </section>

    <section id="donation">
        <div class="container">
            <h3 class="header">Donation Form</h3>
            <div class="form-outer">
                <form id="payment-form" action="/donate/create-payment-intent" method="post">
                    <div class="page   current">
                        <h4 class="title">Amount</h4>
                        <div class="field">
                            <input type="radio" name="amount" id="35-dollar" value="35">
                            <label for="35-dollar">$35.00</label>
                        </div>
                        <div class="field">
                            <input type="radio" name="amount" id="70-dollar" value="70">
                            <label for="70-dollar">$70.00</label>
                        </div>
                        <div class="field">
                            <input type="radio" name="amount" id="150-dollar" value="1500">
                            <label for="150-dollar">$150.00</label>
                        </div>
                        <div class="field">
                            <input type="radio" name="amount" id="300-dollar" value="300">
                            <label for="300-dollar">$300.00</label>
                        </div>
                        <div class="field buttons">
                            <button class="next">Next</button>
                        </div>
                    </div>

                    <div class="page">
                        <h4 class="title">Payment Details</h4>
                        <div class="credit-logo">
                            <img src="/images/misc/credit-logo.png" alt="credit-card-logos">
                        </div>
                        <div id="card-element" class="field">
                           <label for="cc_number">Card Number</label>
                           <input type="tel" name="cc_number" id="cc_number">
                        </div>
                        <div class="field">
                            <label for="cc_name">Owner</label>
                            <input type="text" name="cc_name" id="cc_name">
                        </div>
                        <div class="field">
                            <label for="cvv_number">CVV</label>
                            <input type="tel" name="cvv_number" id="cvv_number">
                        </div>
                        <div class="field">
                            <label for="cc_expiry-date">Expiry Date</label>
                            <input type="date" name="cc_expiry_date" id="cc_expiry_date">
                        </div>
                        <div class="field buttons">
                            <button class="prev-1 prev">Back</button>
                           <button class="next-1 next">Next</button>
                        </div>
                    </div>

                    <div class="page">
                        <h4 class="title">Personal Info</h4>
                        <div class="field">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" id="first_name">
                        </div>
                        <div class="field">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" id="last_name">
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email">
                        </div>
                        <div class="field buttons">
                            <button class="prev-2 prev">Back</button>
                            <button class="next-2 next">Next</button>
                        </div>
                    </div>

                    <div class="page">
                        <h4 class="title">Billing Info</h4>
                        <div class="field">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address">
                        </div>
                        <div class="field">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city">
                        </div>
                        <div class="field">
                            <label for="country">Country</label>
                            <input type="text" name="country" id="country">
                        </div>
                        <div class="field">
                            <label for="state">State/Province</label>
                            <input type="text" name="state" id="state">
                        </div>
                        <div class="field">
                            <label for="zip_code">ZIP Code</label>
                            <input type="text" name="zip_code" id="zip_code">
                        </div>
                        <div class="field buttons">
                            <button class="prev-3 prev">Back</button>
                            <button id="submit" class="submit" type="submit">Submit</button>
                        </div>
                    </div>
                    <p id="card-error" role="alert"></p>
                    <p class="result-message hidden">
                        Payment succeeded, see the result in your
                        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                    </p>
                </form>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
<%- include("./partials/globalScript.ejs") %>
<script>
    const formPages = document.querySelectorAll('.page');
    const prevButtons = document.querySelectorAll('.prev');
    const nextButtons = document.querySelectorAll('.next');

    nextButtons.forEach(button => {
        button.addEventListener('click', e => {
            e.preventDefault();
            nextSlide();
        })
    })

    prevButtons.forEach(button => {
        button.addEventListener('click', e => {
            e.preventDefault();
            prevSlide();
        })
    })

    const nextSlide = () => {
        const current = document.querySelector('.current');
        current.classList.remove('current');

        if (current.nextElementSibling) {
            current.nextElementSibling.classList.add('current')
        }
    }

    const prevSlide = () => {
        const current = document.querySelector('.current');
        current.classList.remove('current');

        if (current.previousElementSibling) {
            current.previousElementSibling.classList.add('current')
        }
    }
    
</script>
</html>